.container {
  min-width: 100px;
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  border-right: 3px solid var(--Eerie-Black-Alpha);
}

.totalContainer {
  width: 100%;
  height: 500px;
  grid-area: total !important;
  outline: auto;
}